<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "bastion/bastion" %>
  <% Bastion.plugins.each do |name, plugin| %>
    <% if plugin[:stylesheet] %>
      <%= stylesheet_link_tag(plugin[:stylesheet]) %>
    <% end %>
  <% end %>
<% end %>

<% content_for(:content) do %>
  <div class="article maincontent patternfly-styles" data-no-turbolink="true">
    <section class="container-fluid">
        <div class="row" ui-view></div>
    </section>
  </div>
<% end %>

<% content_for(:javascripts) do %>
  <%= javascript_include_tag 'bastion/bastion' %>
  <script type="text/javascript">
    angular.module('Bastion.features').value('FeatureSettings', angular.fromJson(<%= SETTINGS[:features].nil? ? {} : SETTINGS[:features].to_json.html_safe %>));
    angular.module('Bastion').value('currentLocale', '<%= I18n.locale %>');
    angular.module('Bastion').value('CurrentOrganization', "<%= Organization.current.id if Organization.current %>");
    angular.module('Bastion').value('Permissions', angular.fromJson('<%= User.current.cached_roles.collect { |role| role.permissions }.flatten.to_json.html_safe %>'));
    angular.module('Bastion').value('CurrentUser', {
      id: <%= User.current.id %>,
      admin: <%= User.current.admin %>
    });
    angular.module('Bastion').value('markActiveMenu', mark_active_menu);
    angular.module('Bastion').constant('BastionConfig', angular.fromJson('<%= Bastion.config.to_json.html_safe %>'));
  </script>
  <% Bastion.plugins.each do |name, plugin| %>
    <%= javascript_include_tag(plugin[:javascript]) %>
  <% end %>
<% end %>
  
<%= render file: "layouts/base" %>
